*{
  box-sizing: border-box;  
  padding: 0;
  margin: 0;
 
}  

.error__loc {
  font-size: x-large;
  color: rgb(0, 26, 255);
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body{
  min-height: 100vh;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('https://monitor-weather.netlify.app/static/media/bg.c1770c4b.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}


.container2 {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  outline: 1px dashed lightgray;
  flex: none;
}

.container2::-webkit-scrollbar
{
  height: 8px;
  background-color: #aaa;
}
.container2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.container2::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.container2.x {
  width: 100%;
  height: 370px;
  flex-flow: row nowrap;
}
/* scroll-snap */
.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container2 > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

  .x.container2 > div {
  width: 300px;
  height: 330px;
  background-color: rgba(5,4,2,0.1);
  margin-right: 10px;
}
.descript-weather{
  font-size: 1.5rem;
  font-weight: 500;
}
.tempature{
  font-size: 3rem;
  font-weight: 400;
}
.wrap-icon-weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-sm-weather{
  width: 30px;
  height: 30px;
}
.icon-weather{
  width: 150px;
  height: 150px;
  float: left;
}
.icon-md-weather{
  width: 130px;
  height: 130px;
  float: left;

}
.text-bold{
  font-weight: bold;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

h1{
    text-align: center;
    margin: 10px 10px;
    color: white;
    font-size: 35px;
}

.search__container {
    padding-top: 64px;
    margin: 0 auto;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    }

    
.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #ffffff;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.input-search{
  background-color: transparent;
  height: 40px;
  color: #191a1e;
  border: solid 1px #F5F5F5;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0 25px;
}
.input-search:focus{
  
  background-color: transparent;
  height: 40px;
  color: #fff;
  font-size: 16px;  
}        
